body {
	font-family: "Montserrat", sans-serif;
}

header {
	background: #bbbbbb;
	padding: 20px;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.nav {
	position: absolute;
	top: 110px;
	right: 0px;
}

nav li {
	display: inline;
	margin: 0 0 0 20px;
}

nav a {
	text-transform: uppercase;
	font-size: 30px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 30%;
	height: 420px;
	/*background: #cccccc;*/
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #c78c19;
}

.produtos li:hover h2{
	font-size: 30px;
}

.produtos li:active {
	border-color: #088C19;
}

.produtos h2 {
	font-size: 25px;
	font-weight: bold;
}

.produto-valor {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 0;

}

.contatoPrincipal {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	width: 50%;
	padding: 10px 25px;
}

footer {
	text-align: center;
	background: url(bg.jpg);
	padding: 40px 0;
}

.copyright {
	color: #ffffff;
	margin: 20px 0 0;
	font-size: 13px;
}

.checkbox {
	margin: 20px 0;
}

.enviarformulario {
	width: 40%;
	padding: 15px 0;
	font-size: 18px;
	font-weight: bold;
	background-color: orange;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	transition: 0.15s all;
}

.enviarformulario:hover {
	background-color: darkorange;
	transform: scale(1.2);
}

thead{
	background: #555555;
	color: #ffffff;
	font-weight: bold;
}

table {
	margin: 20px 0 40px;
	font-size: 20px;
}

th, td {
	border: 1px solid #000000;
	padding: 8px 15px;
}

.banner	{
	width: 100%;
}

h2, h3 {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.utensilios {
	float: left;
	width: 120px;
	margin: 0 20px 20px 0;
}

.principal {
	background: #fefefe;
	padding: 4em 0;
}

.principalConteudo {
	width: 940px;
	margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}


.mapa {
	background: linear-gradient(#fefefe, #bbbbbb);
	padding: 4em 0;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.mapaGoogle {
	width: 940px;
	margin: 0 auto;
}

.beneficios {
	background: #bbbbbb;
	padding: 4em 0;
}

.beneficiosPrincipal{
	width: 640px;
	margin: 0 auto;
}

.listaBeneficios {
	display: inline-block;
	width: 40%;
	vertical-align: top;
	line-height: 1.5;
}


.imagemBeneficios {
	width: 60%;
	box-shadow: 10px 10px 5px #000000;
	transition: 0.15s opacity;
	opacity: 0.8;
}

.imagemBeneficios:hover {
	opacity: 0.4;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "\2606 \0020 \0020 \0020";
}

.video {
	width: 516px;
	margin: 2em auto;
}

@media screen and (max-width: 480px) {
	.caixa, .principalConteudo, .mapaGoogle, .beneficiosPrincipal, .video , .produtos, .contatoPrincipal{
		width: auto;
	}

	.utensilios{
		width: calc(100%/2.5)
	}
	.principal {
		padding: 3em 2em;
	}

	h1 {
		text-align: center;
	}

	.nav {
		position: static;
	}

	nav li {
		display: block;
	}

	.mapa {
		padding: 4em 2em 0;
 	}

	.beneficios {
		padding: 4em 2em;
	}

	.listaBeneficios, .imagemBeneficios, .video {
		box-sizing: border-box;
		width: 100%;
		padding: 0 2em 1em;
	}

	.imagemBeneficios {
		box-shadow: none;
	}

	.produtos li {
		display: inline-block;
		width: 100%;
		margin: 2em 0;
	}

	.produtos {
		padding: 50px;
	}

	.contatoPrincipal {
		padding: 2em;
	}

}
